body {
    background-color: #ebebeb;
    line-height: 1.3;
}
h1 {
    margin:0;
}

section {
    width: 600px;
    max-width: calc(90% - 100px);
    margin:10px auto;
    background:#fff;
    padding:30px 50px;
    border-radius: 20px;
}

.user-button {
    display: block;
    width: fit-content;
    margin-top: 10px;
}

.bold {
    font-weight: bold;
}

.count-button {
    margin-top:10px;
}
.count-button button {
    margin-right:10px;
}
.count-button button:last-child {
    margin-right:0;
}

@media screen (max-width: 767px) {
    section {
        max-width: calc(90% - 40px);
        padding:20px 20px;
    }
}